<div
  class="flex justify-content-center align-content-center flex-wrap h-screen"
>
  <div
    class="surface-card p-4 shadow-2 border-round w-full lg:w-6 h-full lg:h-auto lg:m-0 mx-2 my-2"
    style="max-height: 800px"
  >
    <div class="text-center mb-5">
      <img
        ngSrc="images/Logo-Eldar.png"
        alt="Logo"
        height="50"
        width="200"
        class="mb-3 h-auto"
        priority
      />
      <div class="text-900 text-3xl font-medium mb-3">Bienvenido</div>
      <span class="text-600 font-medium line-height-3"
        >¿No tenes una cuenta?</span
      >
      <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer"
        >Registrate</a
      >
    </div>

    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <p-messages
        [(value)]="errorMessages"
        [enableService]="false"
      />
      <label for="emailInput" class="block text-900 font-medium mb-2"
        >Email</label
      >
      <input
        id="emailInput"
        name="email"
        type="text"
        [(ngModel)]="email"
        placeholder="Email"
        pInputText
        class="w-full mb-3"
        required
        email
      />

      <label for="passwordInput" class="block text-900 font-medium mb-2"
        >Contraseña</label
      >
      <input
        id="passwordInput"
        name="password"
        type="password"
        [(ngModel)]="password"
        placeholder="Contraseña"
        pInputText
        class="w-full mb-3"
        required
        minlength="8"
      />

      <button
        pButton
        pRipple
        label="Ingresar"
        [disabled]="loginForm.invalid"
        class="w-full"
      ></button>
    </form>
  </div>
</div>
