<div
  class="flex justify-content-center align-content-center flex-wrap h-screen"
>
  <div
    class="surface-card p-4 shadow-2 border-round w-full lg:w-6 h-full h-auto lg:m-0 mx-2 my-2"
    style="max-height: 800px"
  >
  @if(modo == "editar"){
    <h1 class="mt-0">Editar Publicación</h1>
  }
  @else{
    <h1 class="mt-0">Agregar Publicación</h1>
  }
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
      <label for="title" class="block text-900 font-medium mb-2">Título</label>
      <input
        id="title"
        type="text"
        pInputText
        class="w-full mb-2"
        formControlName="title"
        [ngClass]="{
          'ng-invalid': submitted && postForm.controls['title'].errors
        }"
      />
      <small
        *ngIf="submitted && postForm.controls['title'].errors"
        class="p-error mb-1"
        >El título es obligatorio.</small
      >

      <label for="body" class="block text-900 font-medium mb-2 mt-4"
        >Cuerpo</label
      >
      <textarea
        id="body"
        pInputTextarea
        class="w-full mb-2"
        formControlName="body"
        [ngClass]="{
          'ng-invalid': submitted && postForm.controls['body'].errors
        }"
        rows="5"
        style="max-height: 200px; min-height: 50px;"
      ></textarea>
      <small
        *ngIf="submitted && postForm.controls['body'].errors"
        class="p-error pb-2"
        >El cuerpo es obligatorio.</small
      >
      <div class="xl:flex xl:justify-content-between">
        <a
          routerLink="/dashboard"
          severity="secondary"
          pButton
          label="Volver"
          icon="pi pi-arrow-left"
          class="xl:col-5 xl:mx-4 xl:mt-4 col-12 my-1"
        ></a>
        <button
          type="submit"
          pButton
          label="Guardar"
          icon="pi pi-check"
          class="xl:col-5 xl:mx-4 xl:mt-4 col-12 my-1"
          [loading]="loading"
        ></button>
      </div>
    </form>
  </div>
</div>
